html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.password-container, .options-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 16px;
}

.password-container {
  display: flex;
  justify-content: space-between;
}

.password-container-btn {
  display: flex;
  list-style: none;
}

.options-selection {
  display: flex;
  justify-content: space-between;
}

.character-types {
  list-style: none;
}

.character-types li {
  font-size: 14px;
}

.character-type {
  display: flex;
}
